body {
    padding-top: 60px;
}
#myTopnav {
	background-color: transparent;
	/* opacity: 0.5; */
	font-weight: 500;
	text-transform: uppercase;
}

.jumbotron {
    text-align: center;
	margin-top: -100px;
	margin-bottom: 30px;
	color:inherit;
	background-color: #eee;
	padding-top: 48px;
	padding-bottom: 48px;
}

.header-top {
    background-image: url("images/bike-home.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	height: 650px;
}

.interface {
	margin-top: -30px; 
	float: right;
}

.interface-text{
	float:left;
}

.appearance-text{
	float:right;
}

#velocity {
    font-size: 35;
	color: white;
}

#header1 {
    font-size: 60;
    color: white;
	margin-top: 140px;
	font-weight: 600;
}

#header1-description {
    font-size: 20;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#apple-download {
    width: 190;
    height: 66;
    margin-bottom: 15px;
}

#android-download {
    width: 190;
    height: 66;
    margin-bottom: 15px;
}
